<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Home</title>
        <!-- Import font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <!-- Style -->
        <link rel="stylesheet" href="./assets/css/normalize.css">
        <link rel="stylesheet" href="./assets/css/main.css">
    </head>
    <body>
        <div id="wrapper">
            <header class="header">
                <div class="container">
                    <div class="nav-wrap">
                        <div class="logo-side">
                            <a class="logo-icon" href="home.html">
                                <img src="./assets/img/logo-icon.png" alt="">
                            </a>
                            <div class="phone-box">
                                <img src="./assets/img/phone-icon.png" alt="">
                                <p>+62 202 555 0117</p>
                            </div>
                        </div>
                        <nav class="header__nav-wrap nav-pc">
                            <ul class="header__nav">
                                <li class="header__nav-link"><a href="home.html" class="active">Home</a></li>
                                <li class="header__nav-link"><a href="about.html">About Us</a></li>
                                <li class="header__nav-link"><a href="pricing.html">Pricing</a></li>
                                <li class="header__nav-link"><a href="contact-us.html">Contact Us</a></li>
                            </ul>
                            <a href="#" class="btn btn-primary">get started</a>
                        </nav>
                        <nav class="header__nav-wrap nav-mobile">
                            <ul class="header__nav">
                                <li class="header__nav-link"><a href="home.html" class="active">Home</a></li>
                                <li class="header__nav-link"><a href="about.html">About Us</a></li>
                                <li class="header__nav-link"><a href="pricing.html">Pricing</a></li>
                                <li class="header__nav-link"><a href="contact-us.html">Contact Us</a></li>
                            </ul>
                            <a href="#" class="btn btn-primary">get started</a>
                        </nav>
                        <div class="burger-wrap">
                            <button class="burger">
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="btn btn-size-s btn-primary">Giang</a>
                                <a href="#" class="btn btn-primary">Giang</a>
                                <a href="#" class="btn btn-size-l btn-primary">Giang</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
                <section></section>
            </header>
            <main class="main">

            </main>
            <footer class="footer"></footer>
        </div>
        <script src="./assets/js/header.js"></script>
    </body>
</html>