$primary-color: #0f5f5c;
$secondary-color: #83a7a5;

$success-color: #47d864;
$warning-color: #ffc021;
$error-color: #ff623d;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Merriweather', serif;
$btn-font: 'Montserrat', sans-serif;

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  appearance: none;  // Bỏ thuộc tính mặc định của trình duyệt
}
html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: $primary-font;
  box-sizing: border-box;
  color: $secondary-color;
  font-weight: 400;
}
body {
  font-size: 1.4rem;  /* rem = 16px dựa theo html còn em dựa theo block chứa */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1;
  word-break: break-word;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
}

input {
  height: 30px;
  line-height: 30px;
  font-size: 1.3rem;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  color: $secondary-color;
}
input[name="name"] {
  text-transform: capitalize;
}
textarea {
  color: $secondary-color;
  width: 100%;
  padding: 15px 20px;
  border-color: $secondary-color;
  border-radius: 0;
  outline: none;
  resize: none;
  font-size: 1.4rem;
}
button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  outline: none;
  border: none;
}
::placeholder {
  color: $secondary-color;
}

ul {
  list-style-type: none;
}

.map {
  filter: grayscale(100%) invert(92%) contrast(83%);
  height: 400px;
  width: 100%;
}
.mb-0 {
  margin-bottom: 0 !important;
}