.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    @include responsive(sm){
        max-width: 540px;
    } 
    @include responsive(md){
        max-width: 720px;
    }
    @include responsive(lg){
        max-width: 960px;
    }
    @include responsive(xl){
        max-width: 1140px;
    }
}
.container-fluid {
    max-width: none;
}

section {
    padding: 40px 0;
    @include responsive(md) {
        padding: 80px 0;
    }
}
.section-dark {
    background-color: #eef1ec;
}

.row {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @include responsive(md) {
        flex-direction: row;
    }
}
.row-special {
    flex-direction: row;
}
.row-center {
    @include responsive(md) {
        justify-content: center;
    }
}
.col {
    padding: 0 15px;
    width: 100%;
    flex: 1 1 0;
}

// Make a col
$base-col: 12;
@for $i from 1 through $base-col {
    .col-sm-#{$i} {
        @include responsive(sm){
            width: percentage($i/$base-col);
            flex: 1 1 auto;
        }
    }
}
@for $i from 1 through $base-col {    
    .col-md-#{$i} {
        @include responsive(md){
            width: percentage($i/$base-col);
            flex: 1 1 auto;
        }
    }
}
@for $i from 1 through $base-col {
    .col-lg-#{$i} {
        @include responsive(lg){
            width: percentage($i/$base-col);
            flex: 1 1 auto;
        }
    }
}
@for $i from 1 through $base-col {
    .col-xl-#{$i} {
        @include responsive(xl){
            width: percentage($i/$base-col);
            flex: 1 1 auto;
        }
    }
}

// div[class ^= 'className'] {

// }