$primary-color: #0f5f5c;
$secondary-color: #83a7a5;
$thirdly-color: #ffffff;

$success-color: #47d864;
$warning-color: #ffc021;
$error-color: #ff623d;

$dark-color: #222222;
$light-color: #ffffff;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Merriweather', serif;
$thirdly-font: 'Montserrat', sans-serif;